body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url(https://avatars.mds.yandex.net/get-kinopoisk-post-img/1101693/26100c5b49f851337109a5f792436a29/960x540);
  /* background-color: bisque; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 86vh; 
  margin: 0; 
  justify-content: center;
  z-index: +1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2.css-mhc70k-MuiGrid-root{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}