  /* .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, rgba(20, 20, 20, 0.40) 50%, rgba(83, 100, 141, 0.00) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
  } 

  .btnContainer {
    text-align: right;
    padding: 40px; }
  
    .btn:hover{
      background-color: transparent;
    }  */
    .MuiGrid-container .css-1x7ba0i-MuiGrid-root{
      all: unset;
      display: flex;
      width: 100%;
      height: 200px;
      margin-right: 10px;
      counter-increment: gallery-cell;
    }
    .MuiGrid-container .css-1x7ba0i-MuiGrid-root::before{
      
    }
    .btn {
     background-color: #D12E27;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid #D12E27;
    width: 100px;
    height: 30px;
    font-size: 0.7rem;
    margin-left: 15px;
    border-radius: 0;
    text-decoration: none;
    color: #fff;
    }