span.starring::before{
    content: 'Starring: ';
    color: red;
}

span.starring{
    font-size: 1rem;
}
.css-w6vr58-MuiPaper-root-MuiCard-root{
   
    position: relative !important ;
    left: 25rem !important;
}
.css-11cbdl6-MuiPaper-root-MuiCard-root{
    
    position: relative !important ;
    left: 25rem !important;
}
.css-fcmtth-MuiPaper-root-MuiCard-root{
 
    position: relative !important ;
    left: 25rem !important;
}
.css-18ar05e-MuiPaper-root-MuiCard-root{
 
    position: relative !important ;
    left: 25rem !important;
}
.css-1m9pkd-MuiPaper-root-MuiCard-root{
   
    position: relative !important ;
    left: 25rem !important;
}
.css-1kek1zl-MuiPaper-root-MuiCard-root{
    
    position: relative !important ;
    left: 25rem !important;
}
.css-1ht9yvo-MuiPaper-root-MuiCard-root{
   
    position: relative !important ;
    left: 25rem !important;
}
.css-17tfgwg-MuiPaper-root-MuiCard-root{
   
    position: relative !important ;
    left: 25rem !important;
}
.css-19nttot-MuiPaper-root-MuiCard-root{
    
    position: relative !important ;
    left: 25rem !important;
}